<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Mushroom Mania</title>
    <link rel="stylesheet" type="text/css" href="lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="MushroomApp">
  <h1>Badger, Badger, Badger, Badger! Mushroom, Mushroom!</h1>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-controller="MushroomCtrl" class="col-xs-4 col-xs-offset-4">
      <label class="radio-inline">
        <input type="radio" name="optradio" ng-model="eatit" value="false">Poisonous
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" ng-model="eatit" value="true">Non-Poisonous
      </label>
      <div ng-view></div>

    </div>
  </div>


  <script type="text/javascript" src="lib/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/node_modules/bootstrap/dist/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="lib/node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="lib/node_modules/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/values/fb-creds.js"></script>
  <script type="text/javascript" src="app/factories/MushroomFactory.js"></script>
  <script type="text/javascript" src="app/controllers/MushroomCtrl.js"></script>
</body>
</html>
